.gradient-border {
  --border-width: 3px;

  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 300px;
  //   height: 200px;
  //   font-family: Lato, sans-serif;
  //   font-size: 2.5rem;
  //   text-transform: uppercase;
  color: #333;
  // background: #454f5b;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 1.5);
    height: calc(100% + var(--border-width) * 1.5);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      //   hsl(269, 85%, 66%),
      //   hsl(314, 85%, 66%),
      // hsl(359, 85%, 66%),
      // hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      // hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    // border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.gradient-border-off {
  --border-width: 3px;

  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 300px;
  //   height: 200px;
  //   font-family: Lato, sans-serif;
  //   font-size: 2.5rem;
  //   text-transform: uppercase;
  color: #fff;
  //   background: #454f5b;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 1.5);
    height: calc(100% + var(--border-width) * 1.5);
    background: linear-gradient(
      60deg,
      //   hsl(224, 85%, 66%),
      //   hsl(269, 85%, 66%),
      rgb(242, 95, 132),
      hsl(359, 85%, 66%),
      //   hsl(44, 85%, 66%),
      // hsl(89, 85%, 66%),
      // hsl(134, 85%, 66%),
      //   hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    // border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.gradient-border-info {
  --border-width: 3px;

  color: #333;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 1.5);
    height: calc(100% + var(--border-width) * 1.5);
    background: linear-gradient(
      60deg,
      // hsl(224, 85%, 66%),
      //   hsl(269, 85%, 66%),
      // rgb(242, 95, 132),
      // hsl(359, 85%, 66%),
      //   hsl(44, 85%, 66%),
      // hsl(89, 85%, 66%),
      // hsl(134, 85%, 66%),
      hsl(179, 85%, 66%),
      rgb(95, 225, 242)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.green-border {
  //   font-size: 24px;
  border: 10px solid black;
  //   padding: 2rem 1rem;
  //   min-height: 3em;
  resize: both;
  background: #ffd73e33;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
    1;
}
